<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav><a href="/">HOME</a>  |  <a href="/flights">FLIGHTS</a>  |  <a href="/flights/new">ADD FLIGHT</a></nav>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1> <%=title%> </h1>