body {
  padding: 50px;
  font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

a {
  color: #0c5b7a;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
}
a:hover {
  text-decoration: underline;
  color: white;
  background-color: #0c5b7a;
}
nav {
  font-size: 45px;
}
