body {
  padding: 50px;
  font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: ghostwhite;
}

a {
  color: #0c5b7a;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
}
a:hover {
  text-decoration: underline;
  color: white;
  background-color: #0c5b7a;
}
nav {
  font-size: 45px;
}
input#flightNoInput {
  width: 80px;
}
button {
  width: 100px;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color:black;
}
li {
  padding: 10px;
}
button.defaultButton {
  color: white;
  background-color:blueviolet;
}
.errorMessage {
  color: red;
}