<%-include("../partials/header.ejs")%>
<form action="/flights" method="POST">
<label for="airlineSelect">Airline</label>
<select id="airlineSelect" name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
</select>
<label for="fromAirportSelect">From</label>
<select id="fromAirportSelect" name="airport">
        <option value="DEN">DEN</option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
</select>
<label for="toAirportSelect">To</label>
<select id="toAirportSelect" name="destAirport">
        <option value="DEN">DEN</option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
</select>
<label>Flight Number</label>
<input type="number" name="flightNo"></input>
<label>Departing</label>
<input id="datePicker" type="date" name="arrival"></input>
<label>Arriving</label>
<input id="datePicker" type="date" name="departs"></input>
<button type="submit">Save</button>
</form>
<%-include("../partials/footer.ejs")%>