<%-include("../partials/header.ejs")%>
<form action="/flights" method="POST">
<p>
<label for="airlineSelect">Airline</label>
<select id="airlineSelect" name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
</select>
<label for="fromAirportSelect">From</label>
<select id="fromAirportSelect" name="airport">
        <option value="DEN">DEN</option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
</select>
<label for="toAirportSelect">To</label>
<select id="toAirportSelect" name="destAirport">
        <option value="DEN">DEN</option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
</select>
<label for="flightNoInput">Flight Number</label>
<input id="flightNoInput" type="number" name="flightNo" min="10" max="9999" placeholder="10-9999"></input>
</p>
<p>
<label for="arrivalInput">Departing</label>
<input id="arrivalInput" type="date" name="arrival" value="<%=today%>"></input>
<label for="departsInput">Arriving</label>
<input id="departsInput" type="date" name="departs" value="<%=today%>"></input>
<button id=addStopButton> Add Stop</button>
</p>
<button class=defaultButton type="submit">Save</button>
</form>
<%-include("../partials/footer.ejs")%>